$grey-background: #f5f5f5;
$grey-border: #ddd;
$grey-text: #898989;
$grey-dark: #444;
$main-light: #d9f2fb;
$main: #00a9e0;
$main-dark: #007da6;
$success: #7fd81e;
$error: #ff5100;
$warning: #f6c223;
$body: #081f2c;
// .select *,
// .select *::before,
// .select *::after {
//     box-sizing: inherit;
// }
.svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.select {
    position: relative;
    display: inline-block;
    width: 320px;
    &:focus {
        outline: 0;
        & .selection {
            box-shadow: 0 0 1px 1px $main;
        }
    }
}

.select>div {
    direction: rtl;
}

.selection {
    position: relative;
    padding: 5px;
    border: 1px solid $grey-border;
    background: #fff;
}

.value {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

.placeholder {
    padding: 5px 10px;
    color: $grey-text;
}

.arrow {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: $grey-text;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: solid $grey-border;
    border-width: 0 1px;
    background: #fff;
}

.option {
    padding: 10px 15px;
    border-bottom: 1px solid $grey-border;
    cursor: pointer;
}

.optionSelected {
    border: 1px solid $main;
    margin: -1px -1px 0;
    background: $main-light;
}

.optionFocused {
    background: $grey-background;
}