@import '../../../styles/colors.scss';
.page2TopPage {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url('../../../public/valle-fantoni-designboom-06.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}