@import '../../../styles/colors.scss';
.page2TopPage {
    position: relative;
    width: 100%;
    height: 40rem;
    // background-image: url('../../../public/valle-fantoni-designboom-06.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 80% 50%;
}

.page2TopPageImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page2TopPageBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brandDarkOltraLight;
}

.page2TopPageImageTitleBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
    z-index: 2;
}

.page2TopPageManShape {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 22rem;
    z-index: 2;
}

.page2TopPageTitleBox {
    position: absolute;
    top: 35%;
    right: 45%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    z-index: 2;
}

@media screen and (min-width: 1600px) {
    .page2TopPageManShape {
        right: 15%;
    }
}