@import '../../../styles/colors.scss';
.page2TopPage {
    position: relative;
    width: 100%;
    height: 40rem;
    padding-top: 2rem;
}

.page2TopPageImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2TopPageBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brandDarkOltraLight;
}

.page2TopPageImageTitleBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
    z-index: 2;
}

.page2TopPageManShape {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 22rem;
    z-index: 2;
    margin-right: -10rem;
}

.page2TopPageTitleBox {
    position: absolute;
    top: 35%;
    right: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    z-index: 2;
    // margin-left: -7rem;
}

.page2TopPageTitle{
    margin-left: -10rem;
}

@media screen and (max-width: 1100px) {
    .page2TopPageManShape {
        right: 6%;
    }
}

@media screen and (max-width: 1050px) {
    .page2TopPageManShape {
        right: 6%;
        width: 18rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 35rem;
    }
    .page2TopPageTitleBox {
        font-size: 1.5rem;
        width: 46%;
    }
}

@media screen and (max-width: 800px) {
    .page2TopPageManShape {
        right: 5%;
        width: 15rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 31rem;
    }
    .page2TopPageTitleBox {
        font-size: 1.1rem;
        width: 50%;
    }
}

// @media screen and (max-width: 800px) {
//     .page2TopPageTitleBox {
//         font-size: 1.1rem;
//     }
// }
@media screen and (max-width: 700px) {
    .page2TopPageManShape {
        right: 5%;
        width: 12rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 26rem;
    }
    .page2TopPageTitleBox {
        font-size: 1.1rem;
        top: 30%;
        right: 40%;
        width: 55%;
    }
}

@media screen and (max-width: 590px) {
    .page2TopPageManShape {
        right: 4%;
        width: 10rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 23rem;
    }
    .page2TopPageTitleBox {
        font-size: 0.9rem;
        right: 35%;
    }
}

@media screen and (max-width: 500px) {
    .page2TopPageManShape {
        right: 6%;
        width: 8rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 20rem;
    }
    .page2TopPageTitleBox {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .page2TopPageManShape {
        right: 3%;
        width: 7rem;
    }
    .page2TopPage {
        position: relative;
        width: 100%;
        height: 18rem;
    }
    .page2TopPageTitleBox {
        font-size: 0.8rem;
        right: 33%;
    }
}

@media screen and (min-width: 1600px) {
    .page2TopPageManShape {
        right: 15%;
    }
}

@media screen and (min-width: 1800px) {
    .page2TopPageManShape {
        right: 20%;
    }
}

@media screen and (min-width: 2000px) {
    .page2TopPageManShape {
        right: 25%;
    }
}

@media screen and (min-width: 2400px) {
    .page2TopPageManShape {
        right: 28%;
    }
}