@import '../../styles/colors.scss';
.hamburgerMenu {
    position: fixed;
    top: 0;
    right: -8rem;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brandDark;
    z-index: 100;
}

.hamburgerMenuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brandDark;
    z-index: 100;
}

.hamburgerMenuLogo {
    width: 4rem;
    margin-bottom: 1.5rem;
}

.hamburgerMenuItemLink {
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    cursor: pointer;
}

.hamburgerMenuItemLink:hover {
    color: $brandYellow !important;
}

.hamburgerMenuItemLinkActive {
    color: $brandYellow !important;
}

.hamburgerMenuRegisterItem {
    color: #ffffff;
    width: 2.5rem;
}

.hamburgerMenuItem {
    font-size: 3rem;
    margin-bottom: 1rem;
    // color: #ffffff;
}