@import '../../styles/colors.scss';
.hamburgerMenu {
    position: fixed;
    top: 0;
    right: -8rem;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brandDark;
}

.hamburgerMenuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brandDark;
}

.hamburgerMenuLogo {
    width: 4rem;
    margin-bottom: 1.5rem;
}

.hamburgerMenuItem {
    font-size: 3rem;
    margin-bottom: 1rem;
}