@import '../../styles/colors.scss';
.hamburgerMenu {
    position: fixed;
    top: 0;
    right: -8rem;
    width: 5rem;
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: $brandDark;
    z-index: 100;
}

.hamburgerMenuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: $brandDark;
    overflow: hidden;
    z-index: 100;
}

.hamburgerMenuLogo {
    position: absolute;
    top: 1rem;
    left: calc(50% - 2rem);
    width: 4rem;
    margin-bottom: 1.5rem;
}

.hamburgerMenuItemLink1 {
    position: absolute;
    top: 8rem;
    left: calc(50% - 0.7rem);
    color: #ffffff !important;
    font-size: 2rem !important;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink2 {
    position: absolute;
    top: 11rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink3 {
    position: absolute;
    top: 14rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink4 {
    position: absolute;
    top: 17rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink5 {
    position: absolute;
    top: 20rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink6 {
    position: absolute;
    top: 23rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink7 {
    position: absolute;
    top: 26rem;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin: 0 2rem 0 0;
    margin: 0 !important;
    cursor: pointer;
}

.hamburgerMenuItemLink:hover {
    color: $brandYellow !important;
}

.hamburgerMenuItemLinkActive {
    color: $brandYellow !important;
}

.hamburgerMenuRegisterItem {
    position: absolute;
    top: 5rem;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hamburgerMenuItem {
    // font-size: 2rem;
    margin-bottom: 1rem;
}

.hamburgerMenuPerfect {
    height: 100vh;
}