@import '../../styles/colors.scss';
.hamburgerMenu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 5rem;
    height: 100vh;
    background-color: $brandDark;
    transition: all 0.2s ease-in;
    z-index: 100;
}

.hamburgerMenuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    background-color: $brandDark;
    transition: all 0.2s ease-in;
    // overflow: hidden;
    z-index: 100;
}

// .hamburgerMenuToggle div {
//     margin-right: 0 !important;
//     width: 120%;
// }
// .hamburgerMenuLogo {
//     position: absolute;
//     top: 0.5rem;
//     left: calc(50% - 1.7rem);
//     width: 3.4rem;
//     opacity: 0;
// }
.test {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburgerMenuRegisterItemDiv {
    // position: absolute;
    // top: 6rem;
    // left: 0;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.hamburgerMenuRegisterItem {
    color: #ffffff !important;
    font-size: 1.6rem !important;
    cursor: pointer;
}

.hamburgerMenuRegisterItem:hover {
    color: $brandYellow !important;
}

.hamburgerMenuItemLink1 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    padding-left: -15px !important;
    cursor: pointer;
}

.hamburgerMenuItemLink2 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink3 {
    width: 5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink4 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink5 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink6 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink7 {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 1.6rem !important;
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.hamburgerMenuItemLink:hover {
    color: $brandYellow !important;
}

.hamburgerMenuItemLinkActive {
    position: relative;
    color: $brandYellow !important;
}

.hamburgerMenuItemLinkActive::after {
    content: "";
    position: absolute;
    left: -35%;
    top: 5%;
    width: 0;
    height: 0;
    border-left: 0.7rem solid transparent;
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    border-right: 0.7rem solid #ffd617;
}

.hamburgerMenuPerfect {
    height: 100vh;
}

@media screen and (min-width: 992px) {
    .hamburgerMenu {
        display: none;
    }
    .hamburgerMenuToggle {
        display: none;
    }
}