@import '../../styles/colors.scss';
.homeHeader {
    position: relative;
    width: 100%;
    height: 57rem;
    background-color: #f2f2f2;
    overflow: hidden !important;
}

.homeBackgroundEllipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    // max-width: 1300px;
}

.homeHeaderImagesbox {
    width: auto;
    height: 550px;
    position: absolute;
    top: 17rem;
    right: 0;
    z-index: 15;
    overflow: hidden;
}

.homeHeaderImagesbox3,
.homeHeaderImagesbox2 {
    width: auto;
    height: 550px;
    position: absolute;
    top: 17rem;
    right: 0;
    // display: none;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
}

.homeHeaderTitlebox {
    width: 30rem;
    height: 10rem;
    position: absolute;
    top: 25rem;
    right: 45%;
    z-index: 15;
    overflow-y: hidden;
}

.homeHeaderTitlebox2,
.homeHeaderTitlebox3 {
    width: 30rem;
    height: 10rem;
    position: absolute;
    top: 25rem;
    right: 45%;
    overflow-y: hidden;
    opacity: 0;
    z-index: 0;
}

.homeHeaderTitlebox3 h1,
.homeHeaderTitlebox2 h1,
.homeHeaderTitlebox h1 {
    margin-top: 0;
    font-size: 2.7rem;
    word-spacing: 0.3rem;
    line-height: 4.5rem;
    color: $title;
    text-align: right;
}

.homeHeaderButtonbox {
    width: auto;
    height: 3.8rem;
    position: absolute;
    top: 37rem;
    right: 45%;
    overflow: hidden;
    z-index: 15;
}

.homeHeaderButtonbox2,
.homeHeaderButtonbox3 {
    width: auto;
    height: 3.8rem;
    position: absolute;
    top: 37rem;
    right: 45%;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
}

.homeHeaderButtonboxKeeper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.homeHeaderButtonboxBtn {
    width: 9rem;
    padding: 7px 15px;
    background-color: #f2f2f2;
    border: 2px solid $brandYellow;
    border-radius: 2rem;
    color: $brandDark;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s all ease-in;
    z-index: 2;
}

// .homeHeaderButtonboxKeeper button:hover {
//     background-color: $brandDark;
//     color: $brandYellow;
//     border: 2px solid $brandYellow;
//     transition: 0.2s all ease-in;
// }
.homeHeaderButtonboxBtn:hover {
    background-color: $brandDark;
    color: $brandYellow;
    border: 2px solid $brandYellow;
    transition: 0.2s all ease-in;
}

.homeHeaderButtonboxText {
    font-size: 1.3rem;
    color: $subtitle;
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .homeHeader {
        height: 43rem;
    }
    .homeBackgroundEllipse {
        width: 80%;
        // opacity: 0.7;
    }
    .homeHeaderImagesbox,
    .homeHeaderImagesbox2,
    .homeHeaderImagesbox3 {
        display: none;
    }
    .homeHeaderTitlebox,
    .homeHeaderTitlebox2,
    .homeHeaderTitlebox3 {
        right: 10%;
        width: 80%;
        top: 20rem;
    }
    .homeHeaderTitlebox h1,
    .homeHeaderTitlebox2 h1,
    .homeHeaderTitlebox3 h1 {
        text-align: center;
    }
    .homeHeaderButtonbox,
    .homeHeaderButtonbox2,
    .homeHeaderButtonbox3 {
        right: 10%;
        width: 80%;
        top: 34rem;
    }
}

@media screen and (max-width: 768px) {
    .homeHeader {
        height: 37rem;
    }
    .homeHeaderTitlebox,
    .homeHeaderTitlebox2,
    .homeHeaderTitlebox3 {
        right: 10%;
        width: 80%;
        height: auto;
        top: 15rem;
    }
    .homeHeaderTitlebox h1,
    .homeHeaderTitlebox2 h1,
    .homeHeaderTitlebox3 h1 {
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        // margin-bottom: 2rem;
    }
    .homeHeaderButtonbox,
    .homeHeaderButtonbox2,
    .homeHeaderButtonbox3 {
        right: 5%;
        width: 90%;
        height: auto;
        top: 23rem;
    }
    .homeHeaderButtonboxKeeper {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2rem;
    }
    .homeHeaderButtonboxText {
        margin-left: 0;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .homeHeaderTitlebox h1,
    .homeHeaderTitlebox2 h1,
    .homeHeaderTitlebox3 h1 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 370px) {
    .homeHeaderButtonboxText {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .homeBackgroundEllipse {
        width: 90%;
    }
}

@media screen and (min-width: 1400px) {
    .homeBackgroundEllipse {
        width: 65%;
    }
}

@media screen and (min-width: 1700px) {
    .homeBackgroundEllipse {
        width: 60%;
    }
}

@media screen and (min-width: 2100px) {
    .homeBackgroundEllipse {
        width: 50%;
    }
}