@import '../../styles/colors.scss';
.appPageSection {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #f2f2f2;
    overflow: hidden;
}

.appPageLeft {
    position: absolute;
    top: 2rem;
    left: 0;
    width: auto;
    height: auto;
    overflow: hidden;
}

.appPageLeftImg {
    width: 28rem;
}

.appPageRight {
    direction: rtl;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 2;
}

.appPageRightTitle {
    position: relative;
    width: 40%;
    color: $brandDark;
    font-weight: bolder;
    text-align: right;
    font-size: 2rem;
    margin: 4rem 0 0 0;
    padding-bottom: 1rem;
    overflow: hidden;
}

.appPageRightTitle b {
    font-size: 2.3rem;
    font-weight: bolder !important;
}

.appPageRightTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 0.3rem;
    background-color: $brandYellow;
    border-radius: 4rem;
    z-index: 2;
}

.appPageRightTitle::before {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    right: 1rem;
    width: 100%;
    height: 1px;
    background-color: $brandDarkOltraLight;
    border-radius: 2rem;
}

.appPageRightSubtitle {
    color: $brandDark;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.appPageRightDesc {
    width: 50%;
    font-size: 0.9rem;
    font-weight: normal;
    color: $brandDark;
    text-align: right;
    margin-top: 0;
}

.appPageRightSocialbox {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.appPageRightSocialImage {
    width: 6rem;
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
    .appPageLeftImg {
        width: 25rem;
    }
}

@media screen and (max-width: 992px) {
    .appPageSection {
        height: auto;
    }
    .appPageLeftImg {
        width: 18rem;
    }
    .appPageRightTitle {
        font-size: 1.7rem;
    }
    .appPageRightSocialbox {
        width: 90%;
        justify-content: center;
        margin: 3rem auto 3rem auto;
    }
    .appPageRightSocialImage {
        width: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .appPageRightSubtitle {
        font-size: 1.2rem;
    }
    .appPageRightDesc {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .appPageLeft {
        top: 4rem;
        left: calc(50% - 8.5rem);
    }
    .appPageLeftImg {
        width: 17rem;
    }
    .appPageRightTitle {
        width: 70%;
        font-size: 2rem;
        margin: 20rem 0 0 0;
    }
    .appPageRightDesc {
        width: 90%;
        font-size: 0.9rem;
    }
    .appPageRightSocialbox {
        width: 95%;
    }
    .appPageRightSocialImage {
        width: 6rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .appPageRightSocialbox {
        width: 95%;
        flex-wrap: wrap;
    }
    .appPageRightSocialImage {
        width: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}