@import '../../styles/colors.scss';
.navbar {
    width: 100%;
    height: 4rem;
    // position: absolute;
    // top: 0;
    // right: 0;
    background-color: none;
}

.navbarContainer {
    width: 100%;
    height: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbarLinks {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbarLogonLink {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0 12px 0 6px;
}

.navbarLogonLink:hover {
    color: #ffd617;
}

.navbarSmoothLink {
    color: #ffffff;
    font-size: 1rem;
    margin: 0 10px 0 0;
}

.navbarSmoothLink:hover {
    color: #ffd617;
}

.navbarLogo {
    width: 5rem;
}