@import '../../styles/colors.scss';
.aboutUsSection {
    position: relative;
    width: 100%;
    height: auto;
    background-color: $aboutSection;
    overflow: hidden;
    padding-bottom: 5rem;
}

.aboutUsLeft {
    position: absolute;
    top: 5rem;
    left: 2rem;
    width: 32%;
    height: auto;
    overflow: hidden;
    z-index: 2;
}

.aboutUsLeftImage {
    width: 19rem;
}

.aboutUsRightTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    z-index: 2;
}

.aboutUsRightTopTitle {
    color: #ffffff;
    font-size: 2.1rem;
    text-align: right;
    word-spacing: 0.2rem;
    margin: 6rem 0 0 0;
}

.aboutUsRightTopDivider {
    width: 3.5rem;
    height: 0.3rem;
    margin: 1rem 0;
    background-color: $brandYellow;
    border-radius: 1rem;
}

.aboutUsRightTopDesc {
    width: 62%;
    height: auto;
    direction: rtl;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    text-align: right;
}

.aboutUsRightBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.aboutUsRightBottomItemsbox {
    width: 37rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    // margin-right: 4rem;
}

.aboutUsRightBottomItem {
    width: 11rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3rem;
    // margin-left: 8rem;
}

.aboutUsRightBottomItem:nth-child(2){
    margin-left: 10rem;
}
.aboutUsRightBottomItem:nth-child(4){
    margin-left: 10rem;
}

.aboutUsRightBottomItemIcon {
    width: 4rem;
}

.aboutUsRightBottomItemTitle {
    font-size: 1.2rem;
    text-align: center;
    color: $brandYellow;
    margin: 0.5rem 0 0.5rem 0;
}

.aboutUsRightBottomItemSubtitle {
    // width: 10rem;
    height: auto;
    direction: rtl;
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: right;
    // text-justify: inter-character;
    // letter-spacing: 0;
    // word-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .aboutUsRightBottomItemsbox {
        width: 30rem;
        // margin-right: 1.5rem;
    }
    .aboutUsRightBottomItem:nth-child(2){
        margin-left: 7rem;
    }
    .aboutUsRightBottomItem:nth-child(4){
        margin-left: 7rem;
    }
}

@media screen and (max-width: 992px) {
    .aboutUsLeft {
        width: 28%;
        left: 0;
    }
    .aboutUsLeftImage {
        width: 13rem;
    }
    .aboutUsRightTopTitle {
        margin: 8rem 0 0 0;
    }
    .aboutUsRightBottom {
        width: 100%;
    }
    .aboutUsRightBottomItemsbox {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 12rem;
        margin-right: 0;
    }
    .aboutUsRightBottomItem {
        width: 10rem;
        height: 10rem;
        align-items: center;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .aboutUsRightBottomItem:nth-child(2){
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .aboutUsRightBottomItem:nth-child(4){
           margin-left: 1rem;
        margin-right: 1rem;
    }
    .aboutUsRightBottomItemTitle {
        font-size: 1.1rem;
    }
    .aboutUsRightBottomItemSubtitle {
        // width: 12rem;
        text-align: center;
        text-justify: inter-character;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
}

@media screen and (max-width: 768px) {
    .aboutUsSection {
        height: auto;
        padding-bottom: 2rem;
    }
    .aboutUsLeft {
        width: 65%;
        left: calc(50% - 6rem);
    }
    .aboutUsLeftImage {
        width: 12rem;
    }
    .aboutUsRightTopTitle {
        margin: 30rem 0 0 0;
        font-size: 1.8rem;
    }
    .aboutUsRightTopDesc {
        width: 90%;
    }
    .aboutUsRightBottom {
        width: 100%;
    }
    .aboutUsRightBottomItemsbox {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4rem;
        margin-right: auto;
        margin-left: auto;
    }
    .aboutUsRightBottomItem {
        align-items: center;
        width: 11rem;
        height: 11rem;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .aboutUsSection {
        height: auto;
    }
    .aboutUsRightTopDesc {
        width: 100%;
    }
    .aboutUsRightBottomItem {
        margin-bottom: 3rem;
        // width: 90%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .aboutUsRightBottomItemIcon {
        width: 5rem;
    }
    // .aboutUsRightBottomItem:nth-child(1){
    //     margin-bottom: 3rem;
    //     margin-left: 0;
    //     margin-right: 0;
    // }
    // .aboutUsRightBottomItem:nth-child(2){
    //     margin-bottom: 3rem;
    //     margin-left: 0;
    //     margin-right: 0;
    // }
}