.page2PlusIocnBox {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 10rem;
    height: 2.6rem;
    background-color: #0b1033;
    border-radius: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease-in
}

.page2PlusIocn {
    font-size: 1.3rem;
    color: #ffd617;
    margin-left: 0.5rem
}

.page2PlusIocnSpan{
    color: #ffd617;
    font-size: 0.8rem;
    display: block;
    opacity: 1
}