@import '../../styles/colors.scss';
.servicesPageSection {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: #ccc;
}

.servicesPageTitle {
    width: 6rem;
    height: auto;
    padding-bottom: 0.5rem;
    margin: 0 0 1rem 0;
    text-align: center;
}