$brandDark: #0b1033;
$aboutSection: rgba(11, 16, 51, 0.95);
$brandDarkLight: rgba(11, 16, 51, 0.74);
$brandYellow: #fdd617;
$subtitle: rgba(107, 125, 190, 0.74);
$subtitleFFFLight: #ffffffb7;
$title: #6b6b6b;