$brandDark: #0b1033;
$aboutSection: rgba(11, 16, 51, 0.96);
$brandDarkLight: rgba(11, 16, 51, 0.75);
$brandDarkOltraLight: rgba(11, 16, 51, 0.4);
$servicesCebterboxBackdrop: rgba(11, 16, 51, 0.3);
$brandDark50Per: rgba(11, 16, 51, 0.5);
$brandDark10Per: rgba(11, 16, 51, 0.1);
$brandYellow: #fdd617;
$brandYellowLight: rgba(253, 214, 23, 0.8);
$subtitle: rgba(107, 125, 190, 0.74);
$subtitleFFFLight: rgba(255, 255, 255, 0.8);
$title: #6b6b6b;
$inputs: rgba(255, 255, 255, 0.8);
$placeholders: #494949;