.homeHeader {
    width: 100%;
    height: 60rem;
    background-color: #ccc;
}

.homeBackgroundEllipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
}

.homeHeaderImagesbox {
    width: auto;
    height: 550px;
    position: absolute;
    top: 13rem;
    right: 0;
    overflow: hidden;
}

.headerImage1 {
    display: block;
}

.headerImage2 {
    display: none;
}

.homeHeaderTitlebox {
    width: 32rem;
    height: 10rem;
    position: absolute;
    top: 20rem;
    right: 40%;
    overflow-y: hidden;
}

.homeHeaderTitlebox h1 {
    margin-top: 0;
    font-size: 2.9rem;
    color: #828282;
    text-align: right;
}

.homeHeaderButtonbox {
    width: auto;
    height: 50px;
    position: absolute;
    top: 30rem;
    right: 50%;
    overflow: hidden;
}

.homeHeaderButtonboxKeeper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeHeaderButtonboxBtn {
    width: 5rem;
    padding: 5px;
    margin-right: 2rem;
}

.homeHeaderButtonboxText {
    font-size: 1rem;
    color: rgb(216, 179, 179);
}