.homeHeader {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: #ccc;
}

.homeHeaderImagesbox {
    width: auto;
    height: 550px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.headerImage1 {
    display: block;
}

.headerImage2 {
    display: none;
}