.page2PlusIocnBox {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #ffd617;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.page2PlusIocn {
    font-size: 2.5rem;
    color: #0b1033;
    cursor: pointer;
}