@font-face {
    font-family: Yekan;
    src: url("../assets/fonts/iran-yekan/iranyekan.woff2");
}

html {
    font-family: Yekan !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: Yekan !important;
    padding: 0;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#imageee1,
#imageee2,
#imageee3,
#imageee4 {
    animation: scal 1s linear !important;
}

.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}