@font-face {
    font-family: Yekan;
    src: url("../assets/fonts/iran-yekan/iranyekan.woff2");
}

html {
    font-family: Yekan !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: Yekan !important;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

button:disabled {
    cursor: no-drop;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.swiper-pagination-application {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-application .swiper-pagination-bullet {
    background-color: #ffd617 !important;
    margin: 0 0.2rem;
}

.swiper-pagination-bottomSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.swiper-pagination-bottomSlider .swiper-pagination-bullet {
    width: 0.5em;
    height: 0.5em;
    background-color: #0b1033 !important;
    margin: 0.1rem 0.3rem;
}

.swiper-pagination-bottomSlider .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
    background-color: #0b1033 !important;
    margin: 0 0.3rem;
}

// .swiper-container {
//     overflow: visible !important;
// }
.ScrollbarsCustom-Scroller {
    // overflow: visible !important;
}

.ScrollbarsCustom-Wrapper {
    right: 5px !important;
}

.ScrollbarsCustom-Track {
    width: 7px !important;
}

.ScrollbarsCustom-TrackX {
    display: none !important;
}

.container {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}