@font-face {
    font-family: Yekan;
    src: url("../assets/fonts/iran-yekan/iranyekan.woff2");
}

html {
    font-family: Yekan !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: Yekan !important;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

button:disabled {
    cursor: no-drop;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.swiper-pagination-application {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-application .swiper-pagination-bullet {
    background-color: #ffd617 !important;
}

.container {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

$grey-background: #f5f5f5;
$grey-border: #ddd;
$grey-text: #898989;
$grey-dark: #444;
$main-light: #d9f2fb;
$main: #00a9e0;
$main-dark: #007da6;
$success: #7fd81e;
$error: #ff5100;
$warning: #f6c223;
$body: #081f2c;
*,
*::before,
*::after {
    box-sizing: inherit;
}

svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.select {
    position: relative;
    display: inline-block;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    width: 320px;
    &:focus {
        outline: 0;
        & .selection {
            box-shadow: 0 0 1px 1px $main;
        }
    }
}

.selection {
    position: relative;
    padding: 5px;
    border: 1px solid $grey-border;
    background: #fff;
}

.value {
    // text-align: right;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

.placeholder {
    // text-align: right;
    padding: 5px 10px;
    color: $grey-text;
}

.arrow {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: $grey-text;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: solid $grey-border;
    border-width: 0 1px;
    background: #fff;
}

.option {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    padding: 10px 15px;
    border-bottom: 1px solid $grey-border;
    cursor: pointer;
    &.selected {
        border: 1px solid $main;
        margin: -1px -1px 0;
        background: $main-light;
    }
    &.focused {
        background: $grey-background;
    }
}