@import '../../styles/colors.scss';
.blogPageSection {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    overflow: hidden;
}

.blogPageTitlebox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPageTitle {
    position: relative;
    width: 15rem;
    font-size: 2.3rem;
    color: $brandDark;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.blogPageTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 1.5rem);
    width: 3rem;
    height: 0.3rem;
    background-color: $brandYellow;
    border-radius: 4rem;
    z-index: 2;
}

.blogPageTitle::before {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: $brandDarkOltraLight;
    // border-radius: 4rem;
}

.blogPageDesc {
    width: 45%;
    font-size: 1rem;
    text-align: center;
    color: $brandDarkLight;
}

.blogPagePostsbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.blogPagePost {
    width: 19rem;
    height: 25rem;
    background-color: $brandDark;
    overflow: hidden;
    box-shadow: 0 0 2rem 0.5rem rgba(11, 16, 51, 0.2);
    border-radius: 0.3rem;
    cursor: pointer;
}

.blogPagePost:hover .blogPagePostTitle {
    color: $brandYellow;
    transition: all 0.2s ease-in;
}

.blogPagePost:hover .blogPagePostDesc {
    color: $brandYellow;
    transition: all 0.2s ease-in;
}

.blogPagePost:nth-child(2) {
    margin: 0 1rem;
}

.blogPagePostImagebox {
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.blogPagePostImage {
    width: 100%;
    height: 100%;
}

.blogPagePostInfobox {
    width: 90%;
    height: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.blogPagePostDatebox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
}

.blogPagePostDateIcon {
    width: 1.3rem;
    margin-left: 0.3rem;
}

.blogPagePostDateSpan {
    direction: rtl;
    font-size: 0.7rem;
    color: #ffffff;
}

.blogPagePostCommentsbox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.blogPagePostCommentsIcon {
    width: 1.3rem;
    margin-left: 0.3rem;
}

.blogPagePostCommentsSpan {
    direction: rtl;
    font-size: 0.7rem;
    color: #ffffff;
}

.blogPagePostTitle {
    width: 85%;
    color: #ffffff;
    font-size: 0.85rem;
    text-align: right;
    margin: 1rem auto 1rem auto;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.blogPagePostDesc {
    width: 85%;
    color: $subtitleFFFLight;
    font-size: 0.7rem;
    text-align: right;
    margin: 0 auto 0 auto;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 1200px) {
    .blogPageDesc {
        width: 55%;
    }
}

@media screen and (max-width: 992px) {
    .blogPageDesc {
        width: 68%;
    }
    .blogPagePostsbox {
        flex-wrap: wrap;
    }
    .blogPagePost {
        width: 19rem;
        height: 25rem;
    }
    .blogPagePost:nth-child(2) {
        margin-left: 1rem;
        margin-right: 0;
    }
    .blogPagePost:nth-child(3) {
        width: 22rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .blogPageDesc {
        width: 70%;
    }
    .blogPagePost {
        width: 20rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .blogPagePost:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .blogPagePost:nth-child(3) {
        width: 20rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .blogPageDesc {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .blogPagePost {
        width: 14rem;
        height: 22rem;
        margin-left: 0;
        margin-right: 0;
    }
    .blogPagePostImagebox {
        height: 10rem;
    }
    .blogPagePost:nth-child(3) {
        width: 14rem;
    }
    .blogPagePostTitle {
        width: 85%;
        font-size: 0.7rem;
    }
    .blogPagePostDesc {
        width: 85%;
        font-size: 0.6rem;
    }
    .blogPagePostDateIcon {
        width: 1.1rem;
    }
    .blogPagePostDateSpan {
        font-size: 0.6rem;
    }
    .blogPagePostCommentsIcon {
        width: 1.1rem;
    }
    .blogPagePostCommentsSpan {
        font-size: 0.6rem;
    }
}