@import '../../../styles/colors.scss';
.page2Navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    // background-color: $brandDarkOltraLight;
    z-index: 50;
}

.page2NavbarContainer {
    width: 100%;
    height: 4rem;
    max-width: 1400px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page2NavbarLoginIcon {
    font-size: 2rem;
    color: $brandYellow;
}

.page2NavbarLogo {
    width: 7rem;
}

.page2NavbarHomeImageIconBox {
    width: 3rem;
    height: 3rem;
    background-color: #0b1033;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2NavbarHomeImageIcon {
    width: 2rem;
}