@import '../../styles/colors.scss';
.aboutUsSection {
    position: relative;
    width: 100%;
    height: 45rem;
    background-color: $aboutSection;
}

.aboutUsLeft {
    width: 30%;
    height: auto;
    overflow: hidden;
}

.aboutUsLeftImage {
    width: 20rem;
}

.aboutUsRightTop {
    width: 68%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}

.aboutUsRightTopTitle {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: right;
    word-spacing: 0.2rem;
    margin: 0;
}

.aboutUsRightTopDivider {
    width: 2rem;
    height: 0.2rem;
    margin: 0.2rem 0;
    background-color: $brandYellow;
}

.aboutUsRightTopDesc {
    width: 68%;
    height: auto;
    direction: rtl;
    color: $brandDarkLight;
    font-size: 1rem;
    text-align: right;
}