@import '../../styles/colors.scss';
.aboutUsSection {
    position: relative;
    width: 100%;
    height: 45rem;
    background-color: $aboutSection;
}

.aboutUsLeft {
    width: 30%;
    height: auto;
    overflow: hidden;
}

.aboutUsRightTop {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}