@import '../../styles/colors.scss';
.aboutUsSection {
    position: relative;
    width: 100%;
    height: 47rem;
    background-color: $aboutSection;
}

.aboutUsLeft {
    position: absolute;
    top: 5rem;
    left: 2rem;
    width: 32%;
    height: auto;
    overflow: hidden;
    z-index: 2;
}

.aboutUsLeftImage {
    width: 19rem;
}

.aboutUsRightTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    z-index: 2;
}

.aboutUsRightTopTitle {
    color: #ffffff;
    font-size: 2.1rem;
    text-align: right;
    word-spacing: 0.2rem;
    margin: 6rem 0 0 0;
}

.aboutUsRightTopDivider {
    width: 3.5rem;
    height: 0.3rem;
    margin: 1rem 0;
    background-color: $brandYellow;
    border-radius: 1rem;
}

.aboutUsRightTopDesc {
    width: 62%;
    height: auto;
    direction: rtl;
    margin: 0;
    color: $subtitleFFFLight;
    font-size: 1rem;
    text-align: right;
}

.aboutUsRightBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.aboutUsRightBottomItemsbox {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-right: 1.5rem;
}

.aboutUsRightBottomItem {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.aboutUsRightBottomItemIcon {
    width: 4rem;
    // margin-bottom: 1rem;
}

.aboutUsRightBottomItemTitle {
    font-size: 1.2rem;
    text-align: center;
    color: $brandYellow;
    // margin-bottom: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.aboutUsRightBottomItemSubtitle {
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: right;
    color: $subtitleFFFLight;
    // margin-bottom: 1rem;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .aboutUsLeft {
        width: 28%;
        left: 0;
    }
    .aboutUsLeftImage {
        width: 13rem;
    }
    .aboutUsRightTopTitle {
        margin: 8rem 0 0 0;
    }
    .aboutUsRightBottom {
        width: 100%;
    }
    .aboutUsRightBottomItemsbox {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 12rem;
        margin-right: 0;
    }
    .aboutUsRightBottomItem {
        width: 10rem;
        height: 10rem;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .aboutUsRightBottomItemTitle {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .aboutUsSection {
        height: 57rem;
    }
    .aboutUsRightBottomItemsbox {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10rem;
        margin-right: 0;
    }
    .aboutUsRightBottomItem {
        width: 11rem;
        height: 11rem;
        margin-bottom: 0;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}