@import '../../styles/colors.scss';
.circleMenuMain {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #0b1033;
    border-radius: 100%;
    transform: rotate(0deg);
}

.circleMenuItem1 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(0deg);
}

.circleMenuItem2 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(45deg);
}

.circleMenuItem3 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(90deg);
}

.circleMenuItemIconbox {
    position: absolute;
    top: -50px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: #0b1033;
    border-radius: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
}