@import '../../styles/colors.scss';
.menuPageSection {
    position: relative;
    width: 100%;
    height: 42rem;
    background-color: #f2f2f2;
    background-image: url('../../public/WideBackgroundMenupage.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.circleMenuMainCenterBoxStart {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 19.4rem;
    left: calc(50% - 6rem);
    transform: rotate(0deg);
    background-color: #ccc;
    border-radius: 100%;
    z-index: 20;
    opacity: 1;
    box-shadow: 0 0 3rem 1.6rem #0b103379;
    animation: scal 1s linear !important;
    // cursor: pointer;
}

.active {
    background-color: #ffd617 !important;
}

.circleMenuMainCenterBox {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 19.4rem;
    left: calc(50% - 6rem);
    transform: rotate(0deg);
    border-radius: 100%;
    z-index: 20;
    opacity: 0;
    box-shadow: 0 0 3rem 1.6rem #0b103379;
    animation: scal 1s linear !important;
    // cursor: pointer;
}

.circleMenuMainCenterBox2 {
    background-color: rgb(10, 233, 233);
}

.circleMenuMainCenterBox3 {
    background-color: #0b1033;
}

.circleMenuMainCenterBox4 {
    background-color: #1961ac;
}

.circleMenuMainCenterBox5 {
    background-color: palevioletred;
}

.circleMenuMainCenterBox6 {
    background-color: rgb(119, 189, 62);
}

.circleMenuMainCenterBox7 {
    background-color: rgb(216, 200, 112);
}

.circleMenuMainCenterBox8 {
    background-color: rgb(216, 112, 112);
}

@keyframes scal {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.1);
    }
    14% {
        transform: scale(1.2);
    }
    21% {
        transform: scale(1.2);
    }
    29% {
        transform: scale(1.1);
    }
    36% {
        transform: scale(1);
    }
    42% {
        transform: scale(0.9);
    }
    49% {
        transform: scale(0.8);
    }
    56% {
        transform: scale(0.7);
    }
    63% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(0.8);
    }
    77% {
        transform: scale(0.9);
    }
    85% {
        transform: scale(1);
    }
    92% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.circleMenuMain {
    position: relative;
    top: 14rem;
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
    border: 1px solid #0b1033;
    border-radius: 100%;
}

.circleMenuItem1 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(0deg);
}

.circleMenuItem2 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(45deg);
}

.circleMenuItem3 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(90deg);
}

.circleMenuItem4 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(135deg);
}

.circleMenuItem5 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(180deg);
}

.circleMenuItem6 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(225deg);
}

.circleMenuItem7 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(270deg);
}

.circleMenuItem8 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(315deg);
}

.circleMenuItemIconbox {
    position: absolute;
    top: -6.7rem;
    left: calc(50% - 1.7rem);
    width: 3.6rem;
    height: 3.6rem;
    background-color: #0b1033;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
}

.circleMenuItemIconbox1 {
    background-color: #ffd617;
}

.circleMenuItemIconbox1Image {
    width: 50%;
    height: 50%;
    z-index: 15 !important;
}

.circleMenuItemIconboxImage {
    width: 50%;
    height: 50%;
    z-index: 15 !important;
}

// search 
.menuPageSearchRow {
    position: absolute;
    top: 3rem;
    left: calc(50% - 15rem);
    width: 30rem;
    height: 5.5rem;
    // opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 1rem;
    // box-shadow: 0 0 12px 8px rgba(11, 16, 51, 0.55);
    margin: 0 auto 0 auto;
    z-index: 50;
}

.menuPageSearchInputsbox {
    // width: 80%;
    width: 0;
    height: 5.5rem;
    display: flex;
    flex-direction: column-reverse;
    // justify-content: flex-start;
    align-items: center;
    // overflow: hidden;
    opacity: 0;
    z-index: 50;
}

// menuPageSearchInputBottom
.menuPageSearchInputBottom {
    font-family: Yekan !important;
    direction: rtl;
    width: 95%;
    height: 2rem;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.4rem 0.7rem;
    color: #ffffff;
    z-index: 50;
}

.menuPageSearchInputBottom::placeholder {
    color: $subtitleFFFLight;
}

.menuPageSearchInputBottom:focus::placeholder {
    opacity: 0;
}

.menuPageSearchInputTopbox {
    width: 97%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
}

.menuPageSearchInputTopContry {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // direction: rtl;
    width: 48%;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    padding: 0.4rem 0.7rem;
    color: #ffffff;
    z-index: 50;
}

.menuPageSearchInputTopCity {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // direction: rtl;
    width: 48%;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    padding: 0.4rem 0.7rem;
    margin-left: 0.4rem;
    color: #ffffff;
    z-index: 50;
}

.menuPageSearchLogobox {
    width: 20%;
    height: 5rem;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: -3rem;
}

.menuPageSearchCharkhIcon {
    width: 4rem;
    cursor: pointer;
    z-index: 4;
}

.menuPageSearchSerachIcon {
    color: #222;
    font-size: 1.5rem;
    margin-left: -3rem;
}

// search 
// search result
.menuPageSearchResultBox {
    position: absolute;
    top: 9rem;
    left: calc(50% - 15rem);
    display: none;
    width: 30rem;
    height: 25rem;
    background-color: #0b1033;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 12px 8px rgba(11, 16, 51, 0.55);
    padding: 0.5rem;
    z-index: 40;
    overflow: hidden !important;
}

// .menuPageSearchResultBoxLoader {}
.menuPageSearchResultBoxLoader,
.menuPageSearchResultBoxLoader:after {
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

.menuPageSearchResultBoxLoader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.7em solid rgba(253, 214, 23, 0.2);
    border-right: 0.7em solid rgba(253, 214, 23, 0.2);
    border-bottom: 0.7em solid rgba(253, 214, 23, 0.2);
    border-left: 0.7em solid #ffd617;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.menuPageSearchResultBox h1 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: $brandYellow;
}

.menuPageSearchResultScrollbar {
    width: 100% !important;
    height: 22rem !important;
}

.menuPageSearchResultItembox {
    width: 95%;
    height: 3rem;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menuPageSearchResultItembox:hover {
    // background-color: rgba(253, 214, 23, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.menuPageSearchResultItem {
    text-align: right;
    font-size: 1rem;
    color: $brandYellow;
}

// search result
// search mobile
.menuPageSearchRowMobile {
    position: absolute;
    top: 4rem;
    left: 2%;
    width: 95%;
    height: auto;
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto 0 auto;
}

.menuPageSearchInputsboxMobile {
    width: 90%;
    // height: 3.2rem;
    height: 0;
    background-color: $brandDark;
    display: none;
    flex-direction: row;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 12px 8px rgba(11, 16, 51, 0.55);
    // overflow: hidden;
    padding-top: 0.5rem;
    opacity: 0;
}

.menuPageSearchInputBottomMobile {
    font-family: Yekan;
    direction: rtl;
    width: 70%;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    margin-right: 0;
    margin-left: 0;
    // margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.7rem;
    color: #ffffff;
}

.menuPageSearchInputBottomMobile::placeholder {
    color: $subtitleFFFLight;
}

// .menuPageSearchInputBottomMobile:focus::placeholder {
//     opacity: 0;
// }
.menuPageSearchInputTopContryMobile {
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // direction: rtl;
    width: 70%;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    padding: 0.4rem 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.menuPageSearchInputTopCityMobile {
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // direction: rtl;
    width: 70%;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    padding: 0.4rem 0.7rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.menuPageSearchLogoboxMobile {
    width: 20%;
    height: 5rem;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: -3rem;
}

.menuPageSearchCharkhIconMobile {
    width: 4rem;
    cursor: pointer;
}

.menuPageSearchSerachIconMobile {
    color: #222;
    font-size: 1.5rem;
    margin-left: -3rem;
}

@media screen and (max-width: 500px) {
    .menuPageSection {
        height: 37rem;
    }
    .circleMenuMain {
        position: relative;
        top: 17rem;
        width: 15rem;
        height: 15rem;
    }
    .circleMenuItem1,
    .circleMenuItem2,
    .circleMenuItem3,
    .circleMenuItem4,
    .circleMenuItem5,
    .circleMenuItem6,
    .circleMenuItem7,
    .circleMenuItem8 {
        width: 5rem;
        height: 5rem;
    }
    .circleMenuItemIconbox {
        top: -6.2rem;
        left: calc(50% - 25px);
        width: 2.6rem;
        height: 2.6rem;
    }
    .circleMenuMainCenterBoxStart {
        width: 8rem;
        height: 8rem;
        top: 20.4rem;
        left: calc(50% - 4rem);
    }
    .circleMenuMainCenterBox {
        width: 8rem;
        height: 8rem;
        top: 20.4rem;
        left: calc(50% - 4rem);
    }
    .menuPageSearchRow {
        display: none;
    }
    .menuPageSearchRowMobile {
        display: flex;
    }
    .menuPageSearchResultBox {
        top: 15rem;
        left: 7%;
        width: 86%;
        height: 20rem;
        z-index: 40;
    }
    .menuPageSearchResultBox h1 {
        font-size: 1.1rem;
    }
    .menuPageSearchResultScrollbar {
        width: 100% !important;
        height: 20rem !important;
    }
}