@import '../../styles/colors.scss';
.menuPageSection {
    position: relative;
    width: 100%;
    height: 42rem;
    background-color: #dddcdc;
    overflow: hidden;
}

.circleMenuMainCenterBoxStart {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 19.4rem;
    left: calc(50% - 6rem);
    transform: rotate(0deg);
    background-color: #ccc;
    border-radius: 100%;
    z-index: 50;
    opacity: 1;
    box-shadow: 0 0 3rem 1.6rem #0b103379;
    animation: scal 1s linear !important;
    // cursor: pointer;
}

.active {
    background-color: #ffd617 !important;
}

.circleMenuMainCenterBox {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 19.4rem;
    left: calc(50% - 6rem);
    transform: rotate(0deg);
    border-radius: 100%;
    z-index: 50;
    opacity: 0;
    box-shadow: 0 0 3rem 1.6rem #0b103379;
    animation: scal 1s linear !important;
    // cursor: pointer;
}

.circleMenuMainCenterBox2 {
    background-color: rgb(10, 233, 233);
}

.circleMenuMainCenterBox3 {
    background-color: #0b1033;
}

.circleMenuMainCenterBox4 {
    background-color: #1961ac;
}

.circleMenuMainCenterBox5 {
    background-color: palevioletred;
}

.circleMenuMainCenterBox6 {
    background-color: rgb(119, 189, 62);
}

.circleMenuMainCenterBox7 {
    background-color: rgb(216, 200, 112);
}

.circleMenuMainCenterBox8 {
    background-color: rgb(216, 112, 112);
}

@keyframes scal {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.1);
    }
    14% {
        transform: scale(1.2);
    }
    21% {
        transform: scale(1.2);
    }
    29% {
        transform: scale(1.1);
    }
    36% {
        transform: scale(1);
    }
    42% {
        transform: scale(0.9);
    }
    49% {
        transform: scale(0.8);
    }
    56% {
        transform: scale(0.7);
    }
    63% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(0.8);
    }
    77% {
        transform: scale(0.9);
    }
    85% {
        transform: scale(1);
    }
    92% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.circleMenuMain {
    position: relative;
    top: 14rem;
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
    border: 1px solid #0b1033;
    border-radius: 100%;
}

.circleMenuItem1 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(0deg);
}

.circleMenuItem2 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(45deg);
}

.circleMenuItem3 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(90deg);
}

.circleMenuItem4 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(135deg);
}

.circleMenuItem5 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(180deg);
}

.circleMenuItem6 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(225deg);
}

.circleMenuItem7 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(270deg);
}

.circleMenuItem8 {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    transform: rotate(315deg);
}

.circleMenuItemIconbox {
    position: absolute;
    top: -6.5rem;
    left: calc(50% - 25px);
    width: 3.4rem;
    height: 3.4rem;
    background-color: #0b1033;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
}

.circleMenuItemIconbox1 {
    background-color: #ffd617;
}

.circleMenuItemIconbox span {
    color: #ffffff;
}

// search 
.menuPageSearchRow {
    // position: absolute;
    // top: 3rem;
    // left: calc(50% - 15rem);
    width: 30rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
}

.menuPageSearchInputsbox {
    // width: 80%;
    width: 0;
    height: 3.2rem;
    background-color: $brandDark;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 0 12px 8px rgba(11, 16, 51, 0.55);
    overflow: hidden;
    opacity: 0;
}

.menuPageSearchInputLeft {
    direction: rtl;
    width: 12.5rem;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    padding: 0.4rem 0.7rem;
    color: #ffffff;
}

.menuPageSearchInputLeft::placeholder {
    color: $subtitleFFFLight;
}

.menuPageSearchInputLeft:focus::placeholder {
    opacity: 0;
}

.menuPageSearchInputRight {
    direction: rtl;
    width: 7rem;
    background: none;
    border: 1px solid $brandYellow;
    outline: none;
    border-radius: 2rem;
    padding: 0.4rem 0.7rem;
    color: #ffffff;
}

.menuPageSearchLogobox {
    width: 20%;
    height: 5rem;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: -3rem;
}

.menuPageSearchCharkhIcon {
    width: 5rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.menuPageSearchSerachIcon {
    color: #222;
    font-size: 1.5rem;
    margin-left: -3rem;
}

// search 
@media screen and (max-width: 500px) {
    .menuPageSection {
        height: 32rem;
    }
    .circleMenuMain {
        position: relative;
        top: 12rem;
        width: 15rem;
        height: 15rem;
    }
    .circleMenuItem1,
    .circleMenuItem2,
    .circleMenuItem3,
    .circleMenuItem4,
    .circleMenuItem5,
    .circleMenuItem6,
    .circleMenuItem7,
    .circleMenuItem8 {
        width: 5rem;
        height: 5rem;
    }
    .circleMenuItemIconbox {
        top: -6.2rem;
        left: calc(50% - 25px);
        width: 2.6rem;
        height: 2.6rem;
    }
    .circleMenuMainCenterBoxStart {
        width: 8rem;
        height: 8rem;
        top: 15.4rem;
        left: calc(50% - 4rem);
    }
    .circleMenuMainCenterBox {
        width: 8rem;
        height: 8rem;
        top: 15.4rem;
        left: calc(50% - 4rem);
    }
    // .menuPageSearchRow {
    //     display: none;
    // }
}

@media screen and (max-width: 500px) {
    // search 
    .menuPageSearchRow {
        left: calc(50% - 9.2rem);
        width: 18rem;
        height: 6rem;
    }
    .menuPageSearchInputsbox {
        width: 75%;
        height: 4.9rem;
        flex-direction: column;
        align-items: center;
    }
    .menuPageSearchInputLeft {
        width: 9.5rem;
        margin-right: 0;
        margin-left: -0.5rem;
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }
    .menuPageSearchInputRight {
        width: 9.5rem;
        margin-left: -0.5rem;
    }
    .menuPageSearchLogobox {
        width: 25%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -1rem;
    }
    .menuPageSearchCharkhIcon {
        width: 6rem;
    }
}