@import '../../styles/colors.scss';
.circleMenuMain {
    width: 300px;
    height: 300px;
    border: 1px solid #0b1033;
    border-radius: 100%;
}

.circleMenuItem1 {
    width: 300px;
    height: 300px;
    position: relative;
}

.circleMenuItem2 {
    width: 300px;
    height: 300px;
    position: relative;
    transform: rotate(45deg);
}

.circleMenuItem3 {
    width: 300px;
    height: 300px;
    position: relative;
    transform: rotate(90deg);
}

.circleMenuItemIconbox {
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    width: 50px;
    height: 50px;
    background-color: #0b1033;
    border-radius: 100%;
}