@font-face {
    font-family: Yekan;
    src: url("../assets/fonts/iran-yekan/iranyekan.woff2");
}

html {
    font-family: Yekan !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: Yekan !important;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

.Toastify__toast-body {
    font-weight: Yekan !important;
    text-align: right !important;
}

button:disabled {
    cursor: no-drop !important;
}

.react-code-input {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.react-code-input input {
    padding: 0 !important;
    text-align: center !important;
    font-size: 1.2rem !important;
    border: none !important;
    outline: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* CKEditor neceseries styles  */

.marker-green {
    background-color: rgba(116, 226, 122, 0.459);
}

.marker-red {
    background-color: #f7534775;
}

.marker-yellow {
    background-color: rgba(255, 233, 36, 0.459);
}

.marker-blue {
    background-color: #BBDEFB;
}

.marker-grey {
    background-color: rgba(204, 204, 204, 0.726);
}

figcaption {
    text-align: center !important;
}

.image img {
    width: 100%;
}

.image_resized {
    max-width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
}

.image_resized img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image_resized img {
        width: inherit !important;
        max-width: 100% !important;
    }
}

.image-style-align-left {
    max-width: 50% !important;
    text-align: left !important;
    float: left !important;
    text-align: center !important;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
    margin-right: 20px !important;
}

.image-style-align-left::after,
.image-style-align-left::before {
    clear: both !important;
}

.image-style-align-left img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image-style-align-left img {
        width: inherit !important;
        max-width: 100% !important;
    }
}

.image-style-align-right {
    max-width: 50% !important;
    text-align: right !important;
    float: right !important;
    text-align: center !important;
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
    margin-left: 20px !important;
}

.image-style-align-right::after,
.image-style-align-right::before {
    clear: both !important;
}

.image-style-align-right img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image-style-align-right img {
        width: inherit !important;
        max-width: 100% !important;
    }
}

/* CKEditor neceseries styles  */

.appPage-swiper-container{
    overflow: hidden;
}

.slick-slider, .slick-list, .slick-track{
    height: 29rem;
}

.swiper-pagination-application {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-application .swiper-pagination-bullet {
    background-color: #ffd617 !important;
    margin: 0 0.2rem;
}

.swiper-pagination-bottomSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.swiper-pagination-bottomSlider .swiper-pagination-bullet {
    width: 0.5em;
    height: 0.5em;
    background-color: #0b1033 !important;
    margin: 0.1rem 0.3rem;
}

.swiper-pagination-bottomSlider .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
    background-color: #0b1033 !important;
    margin: 0 0.3rem;
}

// .swiper-container {
//     overflow: visible !important;
// }
.ScrollbarsCustom-Scroller {
    // overflow: visible !important;
}

.ScrollbarsCustom-Wrapper {
    right: 5px !important;
}

.ScrollbarsCustom-Track {
    width: 7px !important;
}

.ScrollbarsCustom-TrackX {
    display: none !important;
}

.container {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.sliderContainer {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    margin-bottom: 5rem;
}

@media (max-width: 576px) {
    .slick-slider, .slick-list, .slick-track{
        height: 25rem;
    }
}

@media (max-width: 992px) {
    .swiper-pagination-bottomSlider{
        display: none !important;
    }
}

@media (max-width: 500px) {
    .sliderContainer {
        margin-top: 17rem;
    }
}

@media (max-width: 430px) {
    .react-code-input input {
        font-size: 1rem !important;
        width: 30px !important;
        height: 36px !important;
    }
}

@media (min-width: 1400px) {
    .sliderContainer {
        width: 1400px;
    }
}