@import '../../../styles/colors.scss';

.orderCreateModalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 16, 51, 0.5);
    opacity: 1;
    animation: showorderCreateModalBackdrop 0.2s ease-in;
}

@keyframes showorderCreateModalBackdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.orderCreateModalBackdropHide{
    position: none;
    display: none;
}

.orderCreateModal {
    position: fixed;
    top: 6rem;
    left: calc(50% - 17rem);
    display: block;
    width: 34rem;
    height: 26.5rem;
    background-color: $brandDark;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 1.5rem;
    padding: 1rem 0;
    z-index: 60;
    transition: all 0.3s ease-in;
    animation: showorderCreateModal 0.2s ease-in;
}

.orderCreateModalInside {
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
}

@keyframes showorderCreateModal {
    0% {
        opacity: 0;
        top: 2rem;
    }
    100% {
        opacity: 1;
        top: 7rem;
    }
}

.orderCreateModalHidden {
    position: fixed;
    top: 6rem;
    left: calc(50% - 17rem);
    display: none;
    opacity: 0;
    width: 34rem;
    height: 26.5rem;
    background-color: $brandDark;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 1.5rem;
    padding: 1rem 0;
    z-index: 0;
}

.orderCreateModalLabel {
    direction: rtl;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 2rem;
    margin-top: 1rem
}

.orderCreateModalLabel2 {
    direction: rtl;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 2rem;
    margin-top: 1rem
}

.orderCreateModalCloseIcon {
    position: absolute;
    top: 0;
    left: 1.5rem;
    color:$brandYellow;
    transform: scale(1.3);
    z-index: 2;
    cursor: pointer;
}

.orderCreateModalTitle {
    direction: rtl;
    font-family: Yekan !important;
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
    color: $brandDark;
    font-size: 0.9rem;
    border: none !important;
    outline: none !important;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    margin-bottom: 0.6rem
}

.orderCreateModalTitleInvalid {
    direction: rtl;
    font-family: Yekan !important;
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
    color: $brandDark;
    font-size: 0.9rem;
    // border: 2px solid rgb(247, 25, 25);
    outline: none !important;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    margin-bottom: 0.6rem;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.orderCreateModalTitle::placeholder {
    font-family: Yekan !important;
    font-size: 0.85rem;
    color: rgba(11, 16, 51, 0.5);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@media screen and (max-width: 992px) {
    .orderCreateModal {
        left: calc(50% - 14rem);
        width: 28rem;
    }
    .orderCreateModalHidden {
        left: calc(50% - 14rem);
        width: 28rem;
    }
}

@media screen and (max-width: 576px) {
    .orderCreateModal {
        left: 5%;
        width: 90% !important;
    }
    .orderCreateModalInside {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .orderCreateModalHidden {
        left: 5%;
        width: 90% !important;
    }
    .orderCreateModalLabel{
        font-size: 0.9rem;
    }
    .orderCreateModalLabel2{
        font-size: 0.85rem;
    }
}